html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/wallpaper3.png");
  background-repeat: repeat;
  left:0;right:0;
  z-index: -10;
}

nav {
  background: linear-gradient();
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 5px;
  left:0; right: 0;
}

.button-dress {
  color: white;
  border: 2px solid rgb(93,154,49);
  box-shadow: 0px 0px 10px 5px rgb(93,154,49);
  background: linear-gradient(rgb(250,233,77), rgb(238,118,52), rgb(223,69,40));
  border-radius: 50%;
  font-family: cursive;
  width:100px;
  padding: 10px 0;
  font-size: 30px;
}

#box1, #box2, #box3, #box4, #box5 {
  position: fixed;
  top: 50px; bottom:50px;
  left: 0; right: 0;
  display: none;
}

#dress-box{
  position: fixed;
  top: 90px; bottom:90px;
  left: 50px; right: 50px;
  background-color: rgba(255,253,172,.7);
}

#dress-box2{
  position: fixed;
  top: 90px; bottom:90px;
  left: 50px; right: 50px;
  background-color: rgba(238,118,52,.7);
}

#dress-box3{
  position: fixed;
  top: 90px; bottom:90px;
  left: 50px; right: 50px;
  background-color: rgba(250,233,77,.7);
}

#dress-box4{
  position: fixed;
  top: 90px; bottom:90px;
  left: 50px; right: 50px;
  background-color: rgba(93,154,49,.7);
}

#dress-box5{
  position: fixed;
  top: 90px; bottom:90px;
  left: 50px; right: 50px;
  background-color: rgba(223,69,40,.7);
}

.torchy {
  height: 400px;
  position: fixed;
  z-index: 1;
}

.torchy-dress {
  height: 320px;
  position: fixed;
  z-index: 10;
}

.torchy-dress2 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress3 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress4 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress5 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-hat {
  position: fixed;
  z-index: 10;
}

#t16a{
  height: 320px;
}

#t20 {
  height: 330px;
}

#t, #t6, #t11, #t21, #t16 {
  top:200px; left:55%;
  z-index: 4;
}
#t1,#t8,  #t12, #t23, #t16a{
  top:150px; left:20%
}
#t2,#t13, #t24, #t17{
  top:150px; left:40%
}
#t3,#t9,#t14, #t22, #t20{
  top:250px; left:30%
}
#t4, #t7,#t15, #t19 {
  top:250px; left:10%
}
#t5 {
  height: 75px;
  top:200px; left:10%;
}

#t10 {
  height:55px;
  top:200px; left:10%;
}

#logo {
  position: fixed;
  top:400px;left:75%;
}

#sig {
  position: fixed;
  top: 500px; left:75%;
}
