html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/wallpaper3.png");
  background-repeat: repeat;
  left:0;right:0;
  z-index: -10;
}

nav {
  background: linear-gradient();
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 5px;
  left:0; right: 0;
  z-index: 30;
}

#box1, #box2, #box3, #box4, #box5 {
  position: fixed;
  top: 50px; bottom:50px;
  left: 0; right: 0;
  display: none;
}

.torchy-dress {
  height: 320px;
  position: fixed;
  z-index: 10;
}

.torchy-dress2 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress3 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress4 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-dress5 {
  height: 260px;
  position: fixed;
  z-index: 10;
}

.torchy-hat {
  position: fixed;
  z-index: 10;
}

#logo {
  position: fixed;
  top:400px;left:75%;
}

#sig {
  position: fixed;
  top: 500px; left:75%;
}

@media only screen and (min-width: 300px){

  .button-dress {
    font-family: cursive;
    color: white;
    border: 2px solid rgb(93,154,49);
    box-shadow: 0px 0px 10px 5px rgb(93,154,49);
    background: linear-gradient(rgb(250,233,77), rgb(238,118,52), rgb(223,69,40));
    border-radius: 0%;
    text-align: center;
    font-size: 40px;
    padding: 40px 80px 40px 80px;
  }
  #dress-box{
    position: fixed;
    top: 90px; bottom:90px;
    left: 50px; right: 50px;
    background-color: rgba(252, 252, 212,.7);
  }

  #dress-box2{
    position: fixed;
    top: 90px; bottom:90px;
    left: 50px; right: 50px;
    background-color: rgba(242, 171, 133,.7);
  }

  #dress-box3{
    position: fixed;
    top: 90px; bottom:90px;
    left: 50px; right: 50px;
    background-color: rgba(252, 224, 157,.7);
  }

  #dress-box4{
    position: fixed;
    top: 90px; bottom:90px;
    left: 50px; right: 50px;
    background-color: rgba(168, 212, 138,.7);
  }

  #dress-box5{
    position: fixed;
    top: 90px; bottom:90px;
    left: 50px; right: 50px;
    background-color: rgba(245, 143, 122,.7);
  }

  #dress-box, #dress-box2, #dress-box3, #dress-box1, #dress-box4, #dress-box5 {
    top: 200px; bottom: 100px;
  }

  .torchy {
    filter: brightness(1.2);
    top: 20%;
    position: absolute;
    left:50%;
    z-index: 4;
  }

  .torchy-dress {
    filter: brightness(1.2);
    position: absolute;
    top:200px;
    left: 20%;
    height: 41%;
  }

  .torchy-dress2{
    height: 32%;
  }

  .torchy-dress3,.torchy-dress4, .torchy-dress5 {
    height: 32%;
  }

  #t20 {
    height: 40%;
  }

  #t16a {
    height:42%;
  }

  #t, #t6, #t11, #t21, #t16  {
    height: 55%;
  }
  #t1,#t8,  #t12, #t23, #t16a{
    top:450px; left:10%
  }
  #t2,#t13, #t24, #t17{
    top:400px; left:20%
  }
  #t3,#t9,#t14, #t22, #t20{
    top:450px; left:15%
  }
  #t4, #t7,#t15, #t19 {
    top:500px; left:10%
  }
  #t5 {
    height: 7%;
    top:300px; left:10%;
  }
  #t10 {
    height:5%;
    top:300px; left:10%;
  }
}

@media only screen and (max-width:719px) {

  .button-dress {
    border-radius: 50%;
    width:100px;
    padding: 40px;
    font-size: 30px;
  }

  #dress-box, #dress-box2, #dress-box3, #dress-box4, #dress-box5 {
    top: 100px; bottom: 20px;
  }


}
