html {
  box-sizing: border-box;
}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/wallpaper3.png");
  background-repeat: repeat;
  left:0;right:0;
  z-index: -10;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 30;
}

footer{
  background-color: rgba(173,109,104,.9);
  color:white;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;left:0;right:0;
}

#intro-box {
  display: block;
  margin: 10% auto;
  width: 90%;
  padding: 30px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(173,109,104,.9);
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10, #box11, #box12 {
  position: absolute;
  display: none;
}

#logo {
  height: 100px;
  position: fixed;
  top:3%;right: 2%;
}

#sig {
  height: 100px;
  position: fixed;
  top:10%; right:2%;
}
#one {
background-image: url("images/t1.png");
}
#two {
  background-image: url("images/t2.png");
}
#three {
  background-image: url("images/t3.png");
}

#four {
  background-image: url("images/t4.png");
}

#five {
  background-image: url("images/t5.png");

}

#six {
  background-image: url("images/t6.png");
}

#seven {
  background-image: url("images/t7.png");
}
#eight {
  background-image: url("images/t8.png");
}
#nine {
  background-image: url("images/t9.png");
}
#ten {
  background-image: url("images/t10.png");
}
#eleven {
  background-image: url("images/t11.png");
}
#twelve {
  background-image: url("images/t12.png");
}

.dress-show{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 5px auto;
  height:9vh;
  width:150px;
}

#b-t1 {
  background-image: url("images/torchy1.png");
}

#b-t2 {
  background-image: url("images/torchy2.png");
}

#b-t3{
  background-image: url("images/torchy3.png");
}

#b-t4{
  background-image: url("images/torchy4.png");
}
#b-t5{
  background-image: url("images/torchy5.png");
}

#b-t7{
  background-image: url("images/torchy7.png");
}

#b-t8{
  background-image: url("images/torchy8.png");
}

#b-t9{
  background-image: url("images/torchy9.png");
}
#b-t10{
  background-image: url("images/torchy10.png");
}

#b-t12 {
  background-image: url("images/torchy12.png");
}

#b-t13 {
  background-image: url("images/torchy13.png");
}

#b-t14 {
  background-image: url("images/torchy14.png");
}

#b-t15 {
  background-image: url("images/torchy15.png");
}

#b-t22 {
  background-image: url("images/torchy22.png");
}
#b-t23 {
  background-image: url("images/torchy23.png");
}
#b-t24 {
  background-image: url("images/torchy24.png");
}

#b-t18 {
  background-image: url("images/torchy18.png");
}
#b-t17 {
  background-image: url("images/torchy17.png");
}
#b-t19 {
  background-image: url("images/torchy19.png");
}
#b-t20 {
  background-image: url("images/torchy20.png");
}
#b-t31 {
  background-image: url("images/torchy31.png");
}
#b-t32 {
  background-image: url("images/torchy32.png");
}
#b-t33 {
  background-image: url("images/torchy33.png");
}
#b-t35 {
  background-image: url("images/torchy35.png");
}
#b-t36 {
  background-image: url("images/torchy36.png");
}
#b-t37 {
  background-image: url("images/torchy37.png");
}
#b-t38 {
  background-image: url("images/torchy38.png");
}
#b-t39 {
  background-image: url("images/torchy39.png");
}
#b-t41 {
  background-image: url("images/torchy41.png");
}
#b-t42 {
  background-image: url("images/torchy42.png");
}#b-t43 {
  background-image: url("images/torchy43.png");
}#b-t44 {
  background-image: url("images/torchy44.png");
}
#b-t51 {
  background-image: url("images/torchy51.png");
}
#b-t52 {
  background-image: url("images/torchy52.png");
}
#b-t53 {
  background-image: url("images/torchy53.png");
}
#b-t54 {
  background-image: url("images/torchy54.png");
}
#b-t55 {
  background-image: url("images/torchy55.png");
}
#b-t56 {
  background-image: url("images/torchy56.png");
}
#b-t61 {
  background-image: url("images/torchy61.png");
}
#b-t62 {
  background-image: url("images/torchy62.png");
}
#b-t63 {
  background-image: url("images/torchy63.png");
}
#b-t64 {
  background-image: url("images/torchy64.png");
}
#b-t65 {
  background-image: url("images/torchy65.png");
}
#b-t66 {
  background-image: url("images/torchy66.png");
}
#b-t67 {
  background-image: url("images/torchy67.png");
}
#b-t71 {
  background-image: url("images/torchy71.png");
}
#b-t72 {
  background-image: url("images/torchy72.png");
}
#b-t73 {
  background-image: url("images/torchy73.png");
}
#b-t74 {
  background-image: url("images/torchy74.png");
}
#b-t81 {
  background-image: url("images/torchy81.png");
}
#b-t82 {
  background-image: url("images/torchy82.png");
}
#b-t83 {
  background-image: url("images/torchy83.png");
}
#b-t84 {
  background-image: url("images/torchy84.png");
}
#dress-box{
  background-color: rgba(252, 252, 212,.7);
}

#dress-box2{
  background-color: rgba(242, 171, 133,.7);
}

#dress-box3{
  background-color: rgba(252, 224, 157,.7);
}

#dress-box4{
  background-color: rgba(168, 212, 138,.7);
}

#dress-box5{
  background-color: rgba(245, 143, 122,.7);
}

#dress-box6{
  background-color: rgba(138, 212, 182,.7);
}

#dress-box7{
  background-color: rgba(252, 252, 212,.7);
}

#dress-box8{
  background-color: rgba(242, 171, 133,.7);
}

#dress-box9{
  background-color: rgba(252, 224, 157,.7);
}

#dress-box10{
  background-color: rgba(168, 212, 138,.7);
}

#dress-box11{
  background-color: rgba(245, 143, 122,.7);
}

#dress-box12{
  background-color: rgba(138, 212, 182,.7);
}
@media only screen and (min-width: 300px){

  .button-dress {
    background-color: rgba(251,250,222,1);
    border: 2px solid rgb(93,154,49);
    border-radius: 0%;
    height: 9vh;
    width:15vw;
    margin: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .dress-button-holder{
    position: absolute;
    top: 10px;
    left:5px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 20;
  }

  #intro-box h1{
    padding-top: 0px;
    padding-bottom: 50px;
    font-size: 60px;
  }
  #intro-box p {
    padding: 10px;
    font-size: 25px;
  }

  .dress-box-class {
    position: fixed;
    top:5px; bottom: 5px;
    left:5px; right:5px;
  }

  .torchy {
    height: 60vh;
    top: 5%;
    position: absolute;
    right:40%;
    z-index: 4;
  }

  #t6, #t11, #t16, #t40 {
    right: 28%;
  }

  .torchy-hat {
    position: absolute;
    top: 10%; right: 10%;
    display: none;
    height: 8vh;
    z-index: 20;
  }

  .torchy-dress {
    display: none;
    filter: brightness(1.1);
    position: absolute;
    height: 43vh;
    z-index: 5;
    top:20%; right:5%;
  }
  #t2, #t3{
    height:45vh;
  }

  .torchy-dress2{
    display: none;
    position: absolute;
    height: 37vh;
    z-index: 5;
    top:20%; right:5%;
  }

  #t10 {
    height: 7vh;
  }

  .torchy-dress3,.torchy-dress4 {
    display: none;
    position: absolute;
    height: 38vh;
    z-index: 5;
    top:20%; right:5%;
  }

  #t24{
    height:36vh;
  }
  .torchy-dress5 {
    position: absolute;
    top:20%; right:5%;
    display: none;
    height: 38vh;
    z-index: 5;
  }

  #t20 {
    height:50vh;
  }

  .torchy-dress6 {
    position: absolute;
    top:20%; right: 5%;
    display: none;
    height: 38vh;
    z-index: 5;
  }

  #t31 {
    height:37vh;
  }

  .torchy-dress7 {
    position: absolute;
    top:20%; right: 5%;
    display: none;
    z-index: 5;
  }

  #t35 {
    height: 42vh;
  }
  #t36 {
    height:40vh;
  }

  #t37, #t38 {
    height: 49vh;
  }

  #t39 {
    height: 12vh;
  }

  .torchy-dress8 {
    position: absolute;
    top:20%; right:5%;
    display: none;
    z-index: 10;
    height:40vh;
  }

  .torchy-dress9 {
    position: absolute;
    top:20%; right:5%;
    display: none;
    z-index: 10;
    height:40vh;
  }

  #t53 {
    height:45vh;
  }

  .torchy-dress10{
    position: absolute;
    top:20%; right:5%;
    display: none;
    height:50vh;
    z-index: 10;
  }

  #t62{
    height:29vh;
  }
  #t63,#t64{
    height:39vh;
  }
  #t65{
    height:42vh;
  }
  #t66{
    height: 41vh;
  }


  .torchy-dress11{
    position: absolute;
    top:20%; right:5%;
    display: none;
    z-index: 10;
    height:38vh;
  }
  #t71{
    height:28vh;
  }

  .torchy-dress12{
    position: absolute;
    top:20%; right:5%;
    display: none;
    z-index: 10;
    height:39vh;
  }

  #t84 {
    height: 41vh;
  }
  #t83 {
    height:40vh;
  }

}

@media screen and (min-width:520px) {

}
@media only screen and (min-width: 768px) and (max-width: 1020px){

}
@media only screen and (min-width: 1021px){
  .torchy {
    right: 15%;
  }
  #t6, #t11, #t16, #t40 {
    right: 15%;
  }

  #t6, #t11, #t16, #t40 {
  }

  .torchy-dress, .torchy-dress2, .torchy-dress3, .torchy-dress4, .torchy-dress5,
  .torchy-dress6, .torchy-dress7, .torchy-dress8, .torchy-dress9, .torchy-dress10,
  .torchy-dress11, .torchy-dress12{
    left: 15%;
  }
  .torchy-hat {
  }

}
